.auth {
  display: flex;
  align-items: center;
  justify-content: center;

  &__card {
    width: 95%;
    height: 80%;
    display: flex;
    align-items: center;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: #fff;

    @media only screen and (min-width: $bp-smallest) {
      width: 80%;
    }

    @media only screen and (min-width: $bp-small) {
      width: 60%;
    }

    @media only screen and (min-width: $bp-large) {
      width: 50%;
    }

    @media only screen and (min-width: $bp-largest) {
      width: 40%;
    }
  }
}
