.library-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: #fff;
  box-shadow: 4px 4px 3rem rgb(204, 204, 204);
  overflow: scroll;
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;

  h2 {
    padding: 2rem;
    &::selection {
      background-color: transparent;
    }
  }
}

.library-nav.active {
  transform: translateX(0);
  opacity: 1;
  pointer-events: all;
}

// library nav-item styles
.library-nav-item {
  display: flex;
  padding: 1rem 2rem;
  align-items: flex-start;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.2s ease;

  img {
    width: 30%;
  }

  &:hover {
    background-color: var(--color-primary-light);
  }

  &__description {
    padding-left: 1rem;
    h3 {
      font-size: 1rem;
    }
    h4 {
      font-size: 0.7rem;
    }
  }
}
.library-nav-item.active {
  background-color: var(--color-secondary);
}

// library toggle button styles
.library-toggle {
  position: absolute;
  cursor: pointer;
  top: 13%;
  right: 10%;
  background-color: transparent;
  padding: 0.5rem 1rem;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  transform: translateY(0);
  font-style: italic;
  font-weight: 700;

  svg {
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 5px;
    fill: var(--color-primary);
    transition: fill 0.2s ease;
  }

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  &:hover svg {
    fill: var(--color-secondary);
  }

  &:active {
    transform: translateY(2px);
  }
}
